{% include 'app1/base.html' %}
{% block content%}
<br>
<br>
<br>
<br>
<div class="container" id="h" >
    <div class="row justify-content-center">  
      <div class="col-sm-6 col-md-12">     
       <form class="mx-auto" style="width:350px;" method="post" >
          {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="Enter your name">
        </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer">
  <footer>
    <div class="container-fluid bg-dark text-white">
      <div class="row">
        <div class="col-12" >
          <br>
          <hr>
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>Jhon cena GYmm
                  </h6>
                  <p>
                   Here we can make you better!!
                  </p>
                </div>
                
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                   vigneshaynar@gmail.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i>8056268154</p>
                </div>
              </div>
            </div>
          </section>
  
          <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-reset fw-bold" href="#">Be healthy</a>
          </div>
          
      </div>
      </div>
    </div>
  </footer>
{% endblock %}