{% include 'app1/base.html' %}
{% block content%}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">plan</th>
        <th scope="col">phone number</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for i in member %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td> {{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.plan}}</td>
        <td>{{i.phonenumber}}</td>
        <td>{{i.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}