{% include 'app1/base.html' %}
{% block content%}
<br>
<br>
<br>
<br>
<div class="container" style="margin-left: 480px; margin-bottom: 300px;" >
    <div class="row-justify-content-center">
        <form style="width:350px;" method="post">
          {% csrf_token %}
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="Enter your name">
        </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">enter the password again</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password2" placeholder="enter the password again">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
{% endblock %}